@import "tailwindcss";

@layer base {
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
  }
  
  h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  h4 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
  }
  
  h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
  }
  
  h6 {
    font-size: 0.67em;
    font-weight: bold;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  strong, b {
    font-weight: bold;
  }

  em, i {
    font-style: italic;
  }

  ul, ol {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    display: list-item;
  }

  a {
    color: #0000EE;
    text-decoration: underline;
  }

  a:visited {
    color: #551A8B;
  }
}